<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>AmyMovie</title>
	<atom:link href="http://demo.amytheme.com/movie/home1/feed/" rel="self" type="application/rss+xml" />
	<link>http://demo.amytheme.com/movie/home1</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Mon, 04 Jun 2018 06:18:04 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.8.7</generator>
	<item>
		<title>Doctor Strange assembles with the Avengers</title>
		<link>http://demo.amytheme.com/movie/home1/2016/12/20/doctor-strange-assembles-with-the-avengers/</link>
		<comments>http://demo.amytheme.com/movie/home1/2016/12/20/doctor-strange-assembles-with-the-avengers/#respond</comments>
		<pubDate>Tue, 20 Dec 2016 07:42:55 +0000</pubDate>
		<dc:creator><![CDATA[skylinesoft]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">http://amy_uid_0_5858e0ff14734</guid>
		<description><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<p><img class="alignleft size-medium wp-image-61" src="http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-300x200.jpg" alt="" width="300" height="200" srcset="http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-300x200.jpg 300w, http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-360x240.jpg 360w, http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56.jpg 750w" sizes="(max-width: 300px) 100vw, 300px" />&#8220;Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.&#8221;, Ut enim ad minima veniam, quis nostrum exercitationem.</p>
<p><strong>Ut Enim ad minima denim</strong></p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
<ol>
<li>Eque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
<li>Quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam.</li>
<li>Ut enim ad minima veniam, quis nostrum exercitationem.</li>
</ol>
<p><strong>Marvel&#8217;s Doctor Strange</strong></p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
]]></content:encoded>
			<wfw:commentRss>http://demo.amytheme.com/movie/home1/2016/12/20/doctor-strange-assembles-with-the-avengers/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>5 movies to watch this week (29 Sep 2016)</title>
		<link>http://demo.amytheme.com/movie/home1/2016/12/20/5-movies-to-watch-this-week-29-sep-2016/</link>
		<comments>http://demo.amytheme.com/movie/home1/2016/12/20/5-movies-to-watch-this-week-29-sep-2016/#respond</comments>
		<pubDate>Tue, 20 Dec 2016 07:42:55 +0000</pubDate>
		<dc:creator><![CDATA[skylinesoft]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">http://amy_uid_0_5858e0ff0935b</guid>
		<description><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<p><img class="alignleft size-medium wp-image-61" src="http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-300x200.jpg" alt="" width="300" height="200" srcset="http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-300x200.jpg 300w, http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-360x240.jpg 360w, http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56.jpg 750w" sizes="(max-width: 300px) 100vw, 300px" />&#8220;Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.&#8221;, Ut enim ad minima veniam, quis nostrum exercitationem.</p>
<p><strong>Ut Enim ad minima denim</strong></p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
<ol>
<li>Eque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
<li>Quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam.</li>
<li>Ut enim ad minima veniam, quis nostrum exercitationem.</li>
</ol>
<p><strong>Marvel&#8217;s Doctor Strange</strong></p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
]]></content:encoded>
			<wfw:commentRss>http://demo.amytheme.com/movie/home1/2016/12/20/5-movies-to-watch-this-week-29-sep-2016/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Another Jurassic Park star joins Thor: Ragnarok</title>
		<link>http://demo.amytheme.com/movie/home1/2016/12/20/another-jurassic-park-star-joins-thor-ragnarok/</link>
		<comments>http://demo.amytheme.com/movie/home1/2016/12/20/another-jurassic-park-star-joins-thor-ragnarok/#respond</comments>
		<pubDate>Tue, 20 Dec 2016 07:42:54 +0000</pubDate>
		<dc:creator><![CDATA[skylinesoft]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">http://amy_uid_0_5858e0fef217a</guid>
		<description><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<p><img class="alignleft size-medium wp-image-61" src="http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-300x200.jpg" alt="" width="300" height="200" srcset="http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-300x200.jpg 300w, http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-360x240.jpg 360w, http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56.jpg 750w" sizes="(max-width: 300px) 100vw, 300px" />&#8220;Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.&#8221;, Ut enim ad minima veniam, quis nostrum exercitationem.</p>
<p><strong>Ut Enim ad minima denim</strong></p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
<ol>
<li>Eque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
<li>Quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam.</li>
<li>Ut enim ad minima veniam, quis nostrum exercitationem.</li>
</ol>
<p><strong>Marvel&#8217;s Doctor Strange</strong></p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
]]></content:encoded>
			<wfw:commentRss>http://demo.amytheme.com/movie/home1/2016/12/20/another-jurassic-park-star-joins-thor-ragnarok/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Stan Lee creates new superhero character for Asia</title>
		<link>http://demo.amytheme.com/movie/home1/2016/12/20/stan-lee-creates-new-superhero-character-for-asia/</link>
		<comments>http://demo.amytheme.com/movie/home1/2016/12/20/stan-lee-creates-new-superhero-character-for-asia/#respond</comments>
		<pubDate>Tue, 20 Dec 2016 07:42:54 +0000</pubDate>
		<dc:creator><![CDATA[skylinesoft]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">http://amy_uid_0_5858e0fee5e77</guid>
		<description><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<p><img class="alignleft size-medium wp-image-61" src="http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-300x200.jpg" alt="" width="300" height="200" srcset="http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-300x200.jpg 300w, http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-360x240.jpg 360w, http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56.jpg 750w" sizes="(max-width: 300px) 100vw, 300px" />&#8220;Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.&#8221;, Ut enim ad minima veniam, quis nostrum exercitationem.</p>
<p><strong>Ut Enim ad minima denim</strong></p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
<ol>
<li>Eque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
<li>Quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam.</li>
<li>Ut enim ad minima veniam, quis nostrum exercitationem.</li>
</ol>
<p><strong>Marvel&#8217;s Doctor Strange</strong></p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
]]></content:encoded>
			<wfw:commentRss>http://demo.amytheme.com/movie/home1/2016/12/20/stan-lee-creates-new-superhero-character-for-asia/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Third stand-alone “Star Wars” confirmed for 2020</title>
		<link>http://demo.amytheme.com/movie/home1/2016/12/20/third-stand-alone-star-wars-confirmed-for-2020/</link>
		<comments>http://demo.amytheme.com/movie/home1/2016/12/20/third-stand-alone-star-wars-confirmed-for-2020/#respond</comments>
		<pubDate>Tue, 20 Dec 2016 07:42:54 +0000</pubDate>
		<dc:creator><![CDATA[skylinesoft]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">http://amy_uid_0_5858e0fed9677</guid>
		<description><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<p><img class="alignleft size-medium wp-image-61" src="http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-300x200.jpg" alt="" width="300" height="200" srcset="http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-300x200.jpg 300w, http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-360x240.jpg 360w, http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56.jpg 750w" sizes="(max-width: 300px) 100vw, 300px" />&#8220;Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.&#8221;, Ut enim ad minima veniam, quis nostrum exercitationem.</p>
<p><strong>Ut Enim ad minima denim</strong></p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
<ol>
<li>Eque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
<li>Quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam.</li>
<li>Ut enim ad minima veniam, quis nostrum exercitationem.</li>
</ol>
<p><strong>Marvel&#8217;s Doctor Strange</strong></p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
]]></content:encoded>
			<wfw:commentRss>http://demo.amytheme.com/movie/home1/2016/12/20/third-stand-alone-star-wars-confirmed-for-2020/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Pacific Rim 2 adds Chinese actress Jing Tian</title>
		<link>http://demo.amytheme.com/movie/home1/2016/12/20/pacific-rim-2-adds-chinese-actress-jing-tian/</link>
		<comments>http://demo.amytheme.com/movie/home1/2016/12/20/pacific-rim-2-adds-chinese-actress-jing-tian/#respond</comments>
		<pubDate>Tue, 20 Dec 2016 07:42:54 +0000</pubDate>
		<dc:creator><![CDATA[skylinesoft]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">http://amy_uid_0_5858e0fece224</guid>
		<description><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<p><img class="alignleft size-medium wp-image-61" src="http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-300x200.jpg" alt="" width="300" height="200" srcset="http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-300x200.jpg 300w, http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-360x240.jpg 360w, http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56.jpg 750w" sizes="(max-width: 300px) 100vw, 300px" />&#8220;Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.&#8221;, Ut enim ad minima veniam, quis nostrum exercitationem.</p>
<p><strong>Ut Enim ad minima denim</strong></p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
<ol>
<li>Eque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
<li>Quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam.</li>
<li>Ut enim ad minima veniam, quis nostrum exercitationem.</li>
</ol>
<p><strong>Marvel&#8217;s Doctor Strange</strong></p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
]]></content:encoded>
			<wfw:commentRss>http://demo.amytheme.com/movie/home1/2016/12/20/pacific-rim-2-adds-chinese-actress-jing-tian/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Interchange to open Singapore film fest</title>
		<link>http://demo.amytheme.com/movie/home1/2016/12/20/interchange-to-open-singapore-film-fest/</link>
		<comments>http://demo.amytheme.com/movie/home1/2016/12/20/interchange-to-open-singapore-film-fest/#respond</comments>
		<pubDate>Tue, 20 Dec 2016 07:42:54 +0000</pubDate>
		<dc:creator><![CDATA[skylinesoft]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">http://amy_uid_0_5858e0fec25c9</guid>
		<description><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<p><img class="alignleft size-medium wp-image-61" src="http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-300x200.jpg" alt="" width="300" height="200" srcset="http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-300x200.jpg 300w, http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-360x240.jpg 360w, http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56.jpg 750w" sizes="(max-width: 300px) 100vw, 300px" />&#8220;Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.&#8221;, Ut enim ad minima veniam, quis nostrum exercitationem.</p>
<p><strong>Ut Enim ad minima denim</strong></p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
<ol>
<li>Eque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
<li>Quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam.</li>
<li>Ut enim ad minima veniam, quis nostrum exercitationem.</li>
</ol>
<p><strong>Marvel&#8217;s Doctor Strange</strong></p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
]]></content:encoded>
			<wfw:commentRss>http://demo.amytheme.com/movie/home1/2016/12/20/interchange-to-open-singapore-film-fest/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Six book-to-film adaptations to get excited about this autumn</title>
		<link>http://demo.amytheme.com/movie/home1/2016/12/20/six-book-to-film-adaptations-to-get-excited-about-this-autumn/</link>
		<comments>http://demo.amytheme.com/movie/home1/2016/12/20/six-book-to-film-adaptations-to-get-excited-about-this-autumn/#respond</comments>
		<pubDate>Tue, 20 Dec 2016 07:42:54 +0000</pubDate>
		<dc:creator><![CDATA[skylinesoft]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">http://amy_uid_0_5858e0feb6de9</guid>
		<description><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<p><img class="alignleft size-medium wp-image-61" src="http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-300x200.jpg" alt="" width="300" height="200" srcset="http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-300x200.jpg 300w, http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-360x240.jpg 360w, http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56.jpg 750w" sizes="(max-width: 300px) 100vw, 300px" />&#8220;Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.&#8221;, Ut enim ad minima veniam, quis nostrum exercitationem.</p>
<p><strong>Ut Enim ad minima denim</strong></p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
<ol>
<li>Eque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
<li>Quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam.</li>
<li>Ut enim ad minima veniam, quis nostrum exercitationem.</li>
</ol>
<p><strong>Marvel&#8217;s Doctor Strange</strong></p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
]]></content:encoded>
			<wfw:commentRss>http://demo.amytheme.com/movie/home1/2016/12/20/six-book-to-film-adaptations-to-get-excited-about-this-autumn/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>The Beatles: Eight Days a Week – The Touring</title>
		<link>http://demo.amytheme.com/movie/home1/2016/12/20/the-beatles-eight-days-a-week-the-touring/</link>
		<comments>http://demo.amytheme.com/movie/home1/2016/12/20/the-beatles-eight-days-a-week-the-touring/#respond</comments>
		<pubDate>Tue, 20 Dec 2016 07:42:54 +0000</pubDate>
		<dc:creator><![CDATA[skylinesoft]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">http://amy_uid_0_5858e0feaaff5</guid>
		<description><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<p><img class="alignleft size-medium wp-image-61" src="http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-300x200.jpg" alt="" width="300" height="200" srcset="http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-300x200.jpg 300w, http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-360x240.jpg 360w, http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56.jpg 750w" sizes="(max-width: 300px) 100vw, 300px" />&#8220;Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.&#8221;, Ut enim ad minima veniam, quis nostrum exercitationem.</p>
<p><strong>Ut Enim ad minima denim</strong></p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
<ol>
<li>Eque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
<li>Quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam.</li>
<li>Ut enim ad minima veniam, quis nostrum exercitationem.</li>
</ol>
<p><strong>Marvel&#8217;s Doctor Strange</strong></p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
]]></content:encoded>
			<wfw:commentRss>http://demo.amytheme.com/movie/home1/2016/12/20/the-beatles-eight-days-a-week-the-touring/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Win a Wizarding World holiday with Fantastic</title>
		<link>http://demo.amytheme.com/movie/home1/2016/12/20/win-a-wizarding-world-holiday-with-fantastic/</link>
		<comments>http://demo.amytheme.com/movie/home1/2016/12/20/win-a-wizarding-world-holiday-with-fantastic/#respond</comments>
		<pubDate>Tue, 20 Dec 2016 07:42:54 +0000</pubDate>
		<dc:creator><![CDATA[skylinesoft]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">http://amy_uid_0_5858e0fe9e490</guid>
		<description><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<p><img class="alignleft size-medium wp-image-61" src="http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-300x200.jpg" alt="" width="300" height="200" srcset="http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-300x200.jpg 300w, http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56-360x240.jpg 360w, http://demo.amytheme.com/movie/home1/wp-content/uploads/2016/12/img_56.jpg 750w" sizes="(max-width: 300px) 100vw, 300px" />&#8220;Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.&#8221;, Ut enim ad minima veniam, quis nostrum exercitationem.</p>
<p><strong>Ut Enim ad minima denim</strong></p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
<ol>
<li>Eque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
<li>Quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam.</li>
<li>Ut enim ad minima veniam, quis nostrum exercitationem.</li>
</ol>
<p><strong>Marvel&#8217;s Doctor Strange</strong></p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
]]></content:encoded>
			<wfw:commentRss>http://demo.amytheme.com/movie/home1/2016/12/20/win-a-wizarding-world-holiday-with-fantastic/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
