<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Pacific Rim 2 adds Chinese actress Jing Tian</title>
	<atom:link href="http://demo.amytheme.com/movie/home1/2016/12/20/pacific-rim-2-adds-chinese-actress-jing-tian/feed/" rel="self" type="application/rss+xml" />
	<link>http://demo.amytheme.com/movie/home1/2016/12/20/pacific-rim-2-adds-chinese-actress-jing-tian/</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Sat, 14 Jul 2018 18:11:42 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.8.7</generator>
</channel>
</rss>
